.TitleCart {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-top: 260px;
}

.CartImage {
    width: 120px;
    height: 150px;
}

.Products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Product {
    list-style: none;
    display: flex;
    height: 220px;
    width: 50vw;
    min-width: 630px;
    justify-content: center;
    align-items: center;
    padding: 0px 70px;
    border: 1px solid #969696;
    margin: 15px 0;
    border-radius: 1rem;
}

.Product:hover {
    border: 1px solid white;
}

.ProductInfo {
    display: flex;
    flex-direction: column;
    margin: 30px 80px 0 15px;
}

.ProductName {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
}

.ProductQuantity {
    color: rgba(255, 255, 255, 0.774);
    font-weight: 400;
}

.DeleteItem {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.QuantityOperators {
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: .6rem;
    cursor: pointer;
    margin: 10px;
    font-size: 1.5rem;
    background-color: black;
    user-select: none;
}

.QuantityOperators:hover {
    background-color: rgb(36, 32, 32);
}

.ProductTotalPrice {
    color: white;
    font-size: 1.4rem;
    margin-left: 50px;
    margin-right: 20px;
}

.FinalCartPrice {
    color: white;
    text-align: center;
    font-size: 1.7rem;
}

.CartButtons {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CartButtons button {
    margin: 10px;
}

.Clear {
    font-size: 1.4rem;
    cursor: pointer;
    border: 1px solid #969696;
    background-color: transparent;
    border-radius: .5rem;
    padding: 10px;
    color: white;
    height: 52px;
    border: 1px solid rgb(177, 22, 22);
}

.CartButtons .Clear:hover {
    background-color: rgb(177, 22, 22);
}

.CreateOrder {
    font-size: 1.4rem;
    cursor: pointer;
    border: 1px solid #969696;
    background-color: transparent;
    border-radius: .5rem;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.CreateOrder:hover {
    background-color: white;
    color:  black;
}

.AddProductsLink {
    text-align: center;
    margin-top: 50px;
}

.LinkGames {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    background-color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: .5rem;
}

.LinkGames:active {
    background-color: rgba(255, 255, 255, 0.815);
}

@media (max-width: 800px) {
    .Product img {
        display: none;
    }

    .ProductInfo {
        margin: 10px 0 0 0;
    }

    .Product {
        padding: 0;
    }
}

@media (max-width: 650px) {
    .Product {
        flex-direction: column;
        min-width: 100px;
    }

    .ProductInfo {
        text-align: center;
    }

    .ProductTotalPrice {
        margin: 0;
    }
}

@media (max-width: 350px) {
    .CartButtons {
        flex-direction: column;
    }
}