.DetailCard {
    display: flex;
    width: max-content;
    margin: 200px auto 0 auto;
    background-color: #e7e7e7;
    padding: 50px;
}

.DetailTextContainer ul {
    margin-bottom: 270px;
    margin-left: 1.5vw;
}

.DetailText {
    color: black;
    font-size: 1.3rem;
    list-style: none;
}

.Title {
    font-weight: bold;
}

.DetailImg {
    width: 500px;
    height: 580px;
}

.ToCart:hover {
    background-color: #b45a26;
}

.ToCart {
    text-decoration: none;
    background-color: #cc692f;
    border: 1px solid black;
    font-size: 1.6rem;
    width: 130px;
    text-align: center;
    height: 40px;
    padding: 10px;
    border-radius: .2rem;
    cursor: pointer;
    color: black;
    margin-top: 20px;
}

.Flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2vw;
}

@media (max-width: 1024px) {
    .ItemDetailContainer {
        padding: 20px;
        margin-top: -100px;
    }

    .DetailCard {
        width: auto;
    }

    .DetailImg {
        width: 40vw;
        height: auto;
        min-width: 370px;
    }
}

@media (max-width: 750px) {
    .ItemDetailContainer {
        width: fit-content;
        margin: -100px auto 0 auto;
    }

    .DetailCard {
        flex-direction: column;
    }

    .DetailTextContainer ul {
        margin-bottom: 20px;
    }

    .Flex {
        margin-left: 0;
        align-items: center;
    }
}

@media (max-width: 532px) {
    .DetailImg {
        width: 150px;
        height: auto;
        min-width: 20px;
        margin-left: 20%;
    }

    .DetailText {
        font-size: .9rem;
    }
}