.DetailCard {
    display: flex;
    width: max-content;
    margin: 200px auto 0 auto;
    background-color: #e7e7e7;
    padding: 50px;
}

.DetailTextContainer ul {
    margin-bottom: 270px;
}

.DetailText {
    color: black;
    font-size: 1.3rem;
    list-style: none;
}

.Title {
    font-weight: bold;
}

.DetailImg {
    width: 500px;
    height: 580px;
}

.ToCart:hover {
    background-color: #b45a26;
}

.ToCart {
    text-decoration: none;
    background-color: #cc692f;
    border: 1px solid black;
    font-size: 1.6rem;
    width: 130px;
    text-align: center;
    height: 40px;
    padding: 10px;
    border-radius: .2rem;
    cursor: pointer;
    color: black;
    margin-top: 20px;
}

.Flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2vw;
}