.NotFound {
    font-size: 2rem;
    color: white;
    margin-top: 200px;
    text-align: center;
}

.ImgNotFound {
    margin: 20px auto;
    display: block;
    width: 85vw;
    max-width: 900px;
    height: auto;
    border-radius: 2rem;
    user-select: none;
}